---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import ClientForm from "../components/ClientForm.astro";
import WhosThisFor from "../components/WhosThisFor.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Reviews from "../components/Reviews.astro"
import FAQ from "../components/FAQ.astro"
import Footer from "../components/Footer.astro"
import CompanyLogos from "../components/CompanyLogos.astro";

let title = "Elite Execs | Free Executive Coach Matchmaking";
let description = "Get matched with elite-level executive coaches tailored to your needs, all for free and no commitments.";
let permalink = 'https://eliteexecscoaching.com/';
---

<Layout {title} {description} {permalink}>
	<body>
		<header class="hero">
			<div>
				<nav>
					<Logo />
				</nav>
			</div>
			<section>
				<div class="container even-columns">
					<div class="hero-content">
						<div class="hero-text-container">
							<h1 class="fs-primary-heading fw-bold text-neutral-100 uppercase">
								Free <br /><span class="text-primary-400">Executive Coach</span><br>
								Matchmaking
							</h1>
							<p class="fs-subtitle text-neutral-100">
								WE REMOVE THE GUESSWORK AND CONNECT YOU WITH ELITE COACHES, PERFECTLY MATCHED TO YOUR NEEDS <span class="fw-bold">- ALL FOR FREE</span>
							</p>
						</div>
						<div class="curved-arrow-wrapper">
							<p class="fs-secondary-heading fw-bold text-primary-400 uppercase">take the quiz</p>
							<img class="curved-arrow" src="/assets/curved-arrow-white.png" alt="">
						</div>
					</div>
					<div>
						<ClientForm />
					</div>
				</div>
			</section>
		</header>
		<main>
			<WhosThisFor />
			<HowItWorks />
			<CompanyLogos />
			<Reviews />
			<FAQ />
		</main>
		<Footer />
	</body>
</Layout>

<style>
	.hero {
		display: grid;
		grid-template-rows: max-content 1fr;
		background-image: linear-gradient(
				hsla(0, 0%, 0%, 0.5),
				hsla(0, 0%, 0%, 0.5)
			),
			url('/assets/woman-coaching-team-mobile.webp');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding-block: 1rem;
		min-height: 90vh;
	}

	.hero > section {
		display: flex;
		align-items: center;
	}

	.hero-container {
		margin-top: 2rem;
		column-gap: 4rem;
		row-gap: 1rem;
	}

	.hero-container > div {
		margin-inline: auto;

	}

	.hero-content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 2rem;
		text-transform: uppercase;
		margin-block: 2rem;
	}

	.hero-text-container > p {
		margin-block: 1rem;
	}

	@media (min-width: 60em) {
		.hero {
			background-image: linear-gradient(
					hsla(0, 0%, 0%, 0.5),
					hsla(0, 0%, 0%, 0.5)
				),
				url('/assets/woman-coaching-team.webp');
			height: 90vh;
		}

		.hero-container {
			grid-template-columns: repeat(2, 1fr);
		}

		.hero-content {
			width: 100%;
		}

		.cta-container {
			flex-direction: row;
		}
	}

	.curved-arrow-wrapper {
		margin-right: auto;
	}

	.curved-arrow-wrapper img {
		transform: scaleY(-1) rotate(-50deg);
		max-width: 200px;
		margin-top: 2rem;
	}

	@media (min-width: 60em) {
		.curved-arrow-wrapper {
			position: relative;
			transform: none;
			margin-left: auto;
			margin-right: 0;
		}

		.curved-arrow-wrapper p {
			position: absolute;
			top: -40px;
			left: -200px;
		}

		.curved-arrow-wrapper img {
			transform: none;
			margin: 0;
		}
	}
</style>
