---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer";

let title = "Contact Us | Elite Execs Coaching";
let description = "Take our free quiz and get matched with elite-level executive coaches.";
let permalink = 'https://eliteexecscoaching.com/contact-us';
---

<Layout {title} {description} {permalink}>
	<Header />
	<main>
		<ContactForm />
	</main>
	<Footer client:visible />
</Layout>

