---
import Layout from "../layouts/Layout.astro";
import ClientForm from "../components/ClientForm.astro";

let title = "Client Quiz | Get matched for free with elite-level executive coaches";
let description = "Take our free quiz and get matched with elite-level executive coaches.";
let permalink = 'https://leads.adamlevoy.com/';
---

<Layout {title} {description} {permalink}>
    <body>
		<main class="quiz-container">
			<ClientForm />
		</main>
	</body>
</Layout>

<style>
	.quiz-container {
		display: grid;
		height: 100vh;
		width: 100%;
		background-color: var(--clr-primary-400);
	}

	@media (min-width: 60em) {
	.quiz-container {
		place-items: center;
	}
}
</style>

