---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

let title = "Thank You | Elite Execs Coaching";
let description = "Please allow us 48 hours to match and connect you with three elite-level executive coaches tailored to your needs.";
let permalink = 'https://eliteexecscoaching.com/thank-you';
---

<Layout {title} {description} {permalink}>
    <body>
		<Header />
		<main class="container">
			<div class="thank-you-card shadow-xl">
				<h1 class="text-primary-400 fs-primary-heading fw-bold uppercase text-center">Matching in progress...</h1>
				<p>
					<span class="fw-semi-bold underline">Please be alert for emails</span> from us over the next 24 to 48 hours introducing you to up to 3 of your matched coaches!
				</p>
				<p>
					We can't wait for you to meet them!
				</p>
			</div>
		</main>
	</body>
</Layout>

<style>
	body {
		background-color: var(--clr-primary-400);
		display: grid;
		grid-template-rows: max-content 1fr;
		place-items: center;
		padding-block: 1rem;
	}

	.thank-you-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 1rem;
		background-color: var(--clr-neutral-100);
		max-width: 500px;
		padding: 2rem;
		border-radius: 20px;
		color: var(--clr-neutral-900);
	}

	.underline {
		text-decoration: underline;
	}
</style>

