<section class="p-block-700">
    <div class="container flow flex-column justify-center" style="--flow-space: 3.75rem">
        <p class="fs-secondary-heading uppercase text-neutral-100 text-center">Our Coaches Work With Top Companies</p>
        <div class="flex wrap items-center justify-center" style="--gap: 2rem">
            
            <img src="https://www.pinclipart.com/picdir/big/57-576184_view-our-amazon-storefront-amazon-logo-white-png.png" alt="amazon logo" class="company-logo">
            <img src="https://logos-download.com/wp-content/uploads/2016/02/Walmart_logo_transparent_png.png" alt="walmart logo" class="company-logo">
            <img src="https://pnggrid.com/wp-content/uploads/2021/05/White-Twitch-Logo-1024x341.png" alt="twitch logo" class="company-logo">
            <img src="https://www.logolynx.com/images/logolynx/01/0195ef9d756f86c0f8cc0c03dbe56027.png" alt="cvs logo" class="company-logo">
            <img src="https://cdn.mos.cms.futurecdn.net/SS3LFkKZ7Us5iWomPA2FD.png" alt="microsoft logo" class="company-logo">
            <img src="https://pnggrid.com/wp-content/uploads/2021/04/youtube-white-1024x230.png" alt="youtube logo" class="company-logo">
            <img src="https://www.citypng.com/public/uploads/small/11640344761pgfhxah5akckezhbmgrhxybjdddc2rqvnrajqfebcri5uqevjyjwjxfgbjuiycucsfwfi8wph04qinlsgxjxhirpzlogitl9fgr0.png" alt="meta logo" class="company-logo">
            <img src="https://www.pngkit.com/png/full/966-9668567_slack-slack-logo-white-png.png" alt="slack logo" class="company-logo">
            <img src="https://clipground.com/images/uber-logo-white-png-1.png" alt="uber logo" class="company-logo">
            <img src="https://purepng.com/public/uploads/large/purepng.com-google-logo-2015brandlogobrand-logoiconssymbolslogosgoogle-6815229372333mqrr.png" alt="google logo" class="company-logo">
            <img src="https://stripe.com/img/about/logos/logos/white.png" alt="stripe logo" class="company-logo">
        </div>
    </div>
</section>

<style>
    section {
        background-image: linear-gradient(
				hsla(0, 0%, 0%, 0.75),
				hsla(0, 0%, 0%, 0.75)
			), url('https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* min-height: 350px; */
    }

    .company-logo {
        max-width: 150px;
        margin-inline: auto;
    }

    .company-logo[data-type="tall"] {
        max-height: 100px;
    }
</style>