---
import TakeTheQuiz from "./TakeTheQuiz";
---

<section class="text-primary-400 text-center bg-pattern-white p-block-700">
    <div class="flow container | flex-column">
        <h2 class="fs-primary-heading fw-bold uppercase">FAQ</h2>
        <div class="even-columns | mt-600">
            <div class="flex-column" style="gap: 2rem">
                <article class="flow">
                    <h3 class="fs-subtitle text-primary-400 fw-bold uppercase">Is this free?</h3>
                    <p class="text-neutral-900">
                        Yes, our matching service is totally free.
                    </p>
                </article>
                <article class="flow">
                    <h3 class="fs-subtitle text-primary-400 fw-bold uppercase">Who is this for?</h3>
                    <p class="text-neutral-900">
                        Anyone looking for executive coaching, including
                        individuals, startups, and corporations.
                    </p>
                </article>
            </div>
            <div class="flex-column" style="gap: 2rem">
                <article class="flow">
                    <h3 class="fs-subtitle text-primary-400 fw-bold uppercase">Why up to 3 matches?</h3>
                    <p class="text-neutral-900">
                        We've found that matching you with up to 3 coaches
                        results in a nearly 100% success rate in finding one
                        that perfectly suits your needs.
                    </p>
                </article>
                <article class="flow">
                    <h3 class="fs-subtitle text-primary-400 fw-bold uppercase">Am I obligated to work with a match?</h3>
                    <p class="text-neutral-900">
                        No. Our service is no-strings-attached with zero
                        obligation.
                    </p>
                </article>
            </div>
        </div>
        <div class="flow mt-600">
            <h2 class="fs-primary-heading text-primary-400 fw-bold uppercase">get started</h2>
            <div>
                <TakeTheQuiz client:visible />
            </div>
        </div>
    </div>
</section>

<style>
    article {
        max-width: 500px;
        margin-inline: auto;
    }
</style>