---
import Logo from './Logo.astro'
---

<header>
    <div class="container">
        <Logo />
    </div>
</header>

<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>