---
import Logo from './Logo'
---

<header>
    <div class="container">
        <Logo client:load />
    </div>
</header>

<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 1rem;
    }
</style>