<section class="how-it-works | bg-pattern-white p-block-700">
    <div class="container flex-column justify-center items-center">
        <h2 class="text-primary-400 fs-primary-heading fw-bold uppercase">How it works</h2>
        <div class="even-columns mt-600 text-center" style="gap: 3rem">
            <div class="flow flex-column items-center uppercase">
                <div class="number-icon">
                    <span class="fs-primary-heading">1</span>
                </div>
                <p>Tell us what you're looking for by taking our quiz.</p>
                <a href="/quiz" class="btn-primary shadow-xl">take the quiz</a>
            </div>
            <div class="flow flex-column items-center uppercase">
                <div class="number-icon">
                    <span class="fs-primary-heading">2</span>
                </div>
                <p>
                    get matched with <span class="fw-bold">up to 3 coaches</span> who perfectly fit your needs.
                </p>
            </div>
            <div class="flow flex-column items-center uppercase">
                <div class="number-icon">
                    <span class="fs-primary-heading">3</span>
                </div>
                <p>
                    your matches will <strong>reach out to to you</strong> so you can get a feel for is you'd like to work together.
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    p {
        max-width: 400px;
        margin-inline: auto;
    }
    
    .number-icon {
        display: grid;
        place-items: center;
        font-weight: 700;
        background-color: var(--clr-primary-400);
        color: var(--clr-neutral-100);
        min-width: 4rem;
        aspect-ratio: 1;
        border-radius: 50%;
    }
</style>