<section class="bg-primary-400 p-block-700">
    <div class="container flex-column items-center text-center">
        <h2 class="fs-secondary-heading fw-bold uppercase text-neutral-100">your one-stop coaching shop</h2>
        <div class="even-columns mt-600" style="gap: 2rem">
            <div class="card | flow | flex-column items-center bg-neutral-100 shadow-xl bg-neutral-100">
                <img src="/assets/quotation-mark.svg" class="icon">
                <p class="fs-subtitle fw-bold uppercase text-primary-400">brilliant concept, amazing fit</p>
                <p class="review-body">"Can I give this 10 stars? I knew I wanted coaching for myself, and possibly for other leadership at my company. Honestly didn't know where to start and was too busy to search & vet dozens of options.<br><br> Took the quiz, had 3 awesome coaches contact me, and found the perfect fit for our company. Hope this testimonial serves as a small token of my appreciation!"</p>
                <p class="fw-semi-bold">- CEO, SaaS Startup</p>
            </div>
            <div class="card | flow | flex-column items-center bg-neutral-100 shadow-xl bg-neutral-100">
                <img src="/assets/quotation-mark.svg" class="icon">
                <p class="fs-subtitle fw-bold uppercase text-primary-400">Promoted in 5 months</p>
                <p class="review-body">"Working with the coach I found through you was the best decision I've made in a long time. I ended up getting promoted about 5 months into working together, and even eventually referred my coach to my colleague, who also got promoted!<br><br> It was exciting everytime I was matched, and all the coaches I spoke with were exceptional. The one I eventually worked with was such a perfect fit."</p>
                <p class="fw-semi-bold">- VP turned CMO, Enterprise Tech</p>
            </div>
        </div>
    </div>
</section>

<style>
 img {
    filter: invert(100%); 
 }
</style>