---
import BaseHead from "../components/BaseHead.astro";
import GoogleTagBody from "../components/GoogleTagBody.astro";


const content = Astro.props;
const { title, description, permalink } = content;
---

<!DOCTYPE html>
<html lang{content.lang || 'en'}>
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>
	<body>
		<GoogleTagBody />
		<slot />
	</body>
</html>
